<html>
    <head>
        <title>About Us</title>
    </head>
    <body>
        <h1>About Us:</h1>

        <p>We found that homeless is a very drastic problem in our town Austin Texas.</p>
       </p> We made this website just to help out the homeless in our area by providing information for shelters and affordable housing.</p>
        </p>Hopefully through the website people can get informed and have a better life.</p>




<img src="https://hips.hearstapps.com/wdy.h-cdn.co/assets/17/39/1506709524-cola-0247.jpg?crop=1.00xw:0.750xh;0,0.226xh&resize=480:*"/></a>
    </body>
</html>
