<html>
    <head>
        <title>About Me</title>
    </head>
    <body>
        <h1>About Us:</h1>

        <p>We made this webiste to just make to show where there are homless shelters. Also where some homless camps are. For hopefully help of
        them. We also found homlessness as a big problem that is going on as of now.</p>
        <a style="font-weight:bold" href="{{ host }}about">Required text<img src="https://hips.hearstapps.com/wdy.h-cdn.co/assets/17/39/1506709524-cola-0247.jpg?crop=1.00xw:0.750xh;0,0.226xh&resize=480:*"/></a>
    </body>
</html>
